Source: gnash
Priority: optional
Maintainer: Debian Flash Team <pkg-flash-devel@lists.alioth.debian.org>
Uploaders: Miriam Ruiz <little_miry@yahoo.es>,
           Alexander Sack <asac@jwsdot.com>,
           Tim Retout <diocles@debian.org>
Build-Depends: autoconf,
               automake,
               autotools-dev,
               debhelper (>= 9),
               dejagnu,
               dh-buildinfo,
               docbook,
               docbook-xsl,
               docbook2x,
               doxygen,
               dpkg-dev (>= 1.13.19),
               gnash-common,
               intltool,
               kdelibs5-dev,
               libagg-dev,
               libatk1.0-dev,
               libavcodec-dev,
               libavformat-dev,
               libavresample-dev,
               libboost-date-time-dev,
               libboost-dev,
               libboost-iostreams-dev,
               libboost-program-options-dev,
               libcurl4-gnutls-dev | libcurl3-gnutls-dev | libcurl4-openssl-dev | libcurl3-openssl-dev,
               libgif-dev,
               libgtk2.0-dev,
               libjpeg-dev,
               libjemalloc-dev [!hurd-i386],
               libltdl-dev,
               default-libmysqlclient-dev,
               libpango1.0-dev | pango-dev,
               libpng-dev,
               libqt4-dev,
               libsdl1.2-dev,
               libspeex-dev,
               libspeexdsp-dev,
               libswscale-dev,
               libtool,
               libxmu-dev,
               libxv-dev,
               npapi-sdk-dev,
               python-all-dev (>= 2.6.6-3~),
               python-gtk2-dev,
               qt4-qmake,
               sng,
               xsltproc,
               csound [linux-any], haxe, mtasc, swfmill, swftools
XS-Python-Version: current
Standards-Version: 3.9.6
Section: video
Homepage: http://www.gnu.org/software/gnash/
Vcs-Git: git://anonscm.debian.org/pkg-flash/gnash.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-flash/gnash.git

Package: sdl-gnash
Architecture: any
Depends: gnash, ${misc:Depends}, ${shlibs:Depends}
Description: GNU Shockwave Flash (SWF) player
 GNU Gnash is a free GPL'd SWF player. It runs as a standalone application
 on either the desktop or embedded devices, or may be used as a plugin
 for several popular browsers. It supports playing media from a disk or
 streaming over a network connection.
 .
 GNU Gnash is based on GameSWF and supports most SWF v7 features and some
 SWF v8 and v9. SWF v10 is not supported by GNU Gnash.
 .
 Included in the Gnash is an XML based messaging system, as specified in
 the SWF specification. This lets a SWF animation communicate over a TCP/IP
 socket, and parse the incoming XML message. This lets an animation be a remote
 control for other devices or applications.
 .
 This package includes the standalone sdl-based player.
